/* CSS which impacts ALL pages ==============================*/
body {
    font-family:Arial, Helvetica, sans-serif;
    background-image: url(site_bg.png);
    background-size: cover;
    margin: 0;
    padding: 0;
}
.content {
    max-width: 800px;  
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    width: 1000px;
    height: 100dvh;
    height: 100%;
    padding-bottom: 50px;
}

/* Nav Bar CSS ==============================*/
/* logo */
.title_container {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-end;
}

#logo {
    width: 150px;
    height: 100px;
}

/* nav bar (is a table)*/
.nav_bar {
    background-color: rgb(57, 122, 213);
    justify-content: center;
    align-items: center;
    width: 100%;
    border-collapse: collapse;
}
/* REFINE THIS ASAP - IMPACTS ALL LINKS */
a {
    color: white;
}
.nav_cell {
    border: 3px solid rgb(38, 85, 150);
    text-align: center;
}
.home_cell {
    width: 5%;
    border: 3px solid rgb(38, 85, 150);
    text-align: center;
    border-radius: 10px;
}
/* The Home image in the nav bar */
#nav_home {
    width: 20px;
}

/* Database Related CSS ============================*/
.db_table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
td {
    border: 1px solid rgb(237, 237, 237);
}
th {
    background-color: rgb(38, 85, 150);
    color: white;
}
/* Makes the databases scroll HORIZONTALLY */
.db_holder {
    background-color: rgb(237, 237, 237);
    max-height: 200px;
    overflow-y: auto;
}

/* Home Page CSS ============================*/
/* content box */
.about_content {
    background-color: rgb(237, 237, 237);
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

/* Explore Data Page CSS ============================*/
/* Filter Content Box Styling */
.filter_content {
    background-color: rgb(237, 237, 237);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.filter_columns {
  display: flex;
  gap: 20px; 
}
.filt_col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 460px;
}

#site-search {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

}




/* 
Source for "Expand Collapse Section using HTML and CSS":
https://www.youtube.com/watch?v=2cPKsxJcF9Y
*/
/* Content Expander CSS */
.exp_label {
    font-size: large;
    background-color: #d7d6d6;
    display: block;
    cursor: pointer;
    padding: 10px 10px 10px 30px;
    position: relative;
    font-weight: bold;
}
/* The arrow */
.exp_label:before {
    content: "";
    border-width: 10px; 
    border-style: solid;
    border-color: transparent
    transparent transparent black;
    height: 0;
    font-size: 0;
    position: absolute;
    top: 12px;
    left: 10px;
    transition: transform 0.25s;
    transform-origin: 3px center;
}
.expanding {
    border: 3px solid #8f8d8d;
    border-radius: 3px;
}
.expanding .expanding_content {
    height: 0px;
    overflow: hidden;
    opacity: 0;
}
#trigger {
    display:none;
}
#trigger:checked ~ .exp_label:before {
    transform: rotate(90deg);
}
#trigger:checked ~ .expanding_content {
    opacity: 1;
    height: auto;
    padding: 10px;
}

/* END referenced CSS */














.range_container {
  width: 80%;
  margin-top: 5px;
}

.sliders_control {
  position: relative;
  min-height: 20px;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 17px;
  height: 17px;
  background-color: #8f8d8d;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;  
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

